* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: url("BG_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Courier New", Courier, monospace;
}
nav {
  background-color: aliceblue;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.477);
}
nav li:first-child {
  margin-right: auto;
  font-size: 25px;
  font-weight: bold;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(240, 248, 255, 0.323);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  nav li:first-child {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
